html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #7BAFD4; /* Carolina Blue background */
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    min-height: 100vh;
    overflow: hidden; /* Hide overflow */
}

.container {
    background-color: #FFFFFF; /* White background for content */
    color: #333333; /* Dark text for readability */
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1em;
    margin: auto;
    position: relative; /* Important for absolute positioning of child elements */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 150px;
    height: 150px;
    margin-bottom: 13em; /* Adjust the margin as necessary */
    position: relative; /* Logo will position itself relative to container */
}

.logo-background {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute; /* Positioned absolutely relative to logo-container */
    top: 200%;
    left: 0;
    z-index: 0;
}

.logo {
    width: 100%;
    height: auto;
    position: absolute;
    top: 200%;
    left: 0;
    z-index: 1;
}

button[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4A90E2;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="button"]:hover {
    background-color: #357ABD;
}

@media (orientation: landscape) {
    .logo-container {
        margin-bottom: 1em;
    }
}